
<body>
<div class="container-fluid">
  <div class="center jumbotron">
    <h1>Welcome to 73 HighSchool Beh </h1>

    <h2>
      Our school is one of the best known in the region and train hundreds of new students every years guiding them to the diploma.
      You can find here all the useful information about the school.
    </h2>
    <p>Shortcuts:
    <%= link_to "All classes", '#', class: "btn btn-large btn-primary" %>
    <%= link_to "Coming soon events", '#', class: "btn btn-large btn-primary" %>
    <%= link_to "Pratical information", '#', class: "btn btn-large btn-primary" %>
    </p>
  </div>
</div>

<h1>Welcome to the best school ever</h1>
<p>On va s'amuser Youpi !</p>

</body>
