
<body>
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">Shortcuts:</div>
      <div class="panel-body center ">
        <p>
        <%= link_to "All classes", '#', class: "btn btn-large btn-primary" %>
        <%= link_to "Coming soon events", '#', class: "btn btn-large btn-primary" %>
        <%= link_to "Pratical information", '#', class: "btn btn-large btn-primary" %>
        </p>
      </div>
  </div>
</div>

<h1>Welcome to the best school ever</h1>
<p>On va s'amuser Youpi !</p>

</body>
