
<body>
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">Shortcuts:</div>
      <div class="panel-body center ">
        <p>
        <%= link_to "All formation: Here is the guide of all formations available here", formations_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Coming soon events", '#', class: "btn btn-large btn-primary" %>
        <%= link_to "Abouts Us: If you want to know more about our history and our traditions", highschool_info_aboutUs_path, class: "btn btn-large btn-primary" %>
        </p>
      </div>
  </div>
</div>

<h1>Welcome to the best school ever</h1>
<p>On va s'amuser Youpi !</p>
<p>
<%= image_tag("banner4.jpg", :alt => "main image", :align=> "middle") %>
</p>
</body>
