/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.css
 */

table.center {
    margin-left:auto;
    margin-right:auto;
}

table
{
    border:1px solid black;
    border-spacing:5px;
    width: 90%;

}

table td
{
    border:1px solid black;
    text-align:center;
    padding:25px;
    overflow: hidden;
}

table th {
    border:1px solid black;
    height: 50px;
    text-align:left;
    background-color: lightblue;
    color: white;
    overflow: hidden;
}

table th.titre {
    border:1px solid black;
    height: 50px;
    text-align:center;
    background-color: lightblue;
    color: white;
    overflow: hidden;
}

table td.cour {
    border:1px solid black;
    text-align:center;
    padding:25px;
    overflow: hidden;
    background-color: lightblue;
}


